## Preparing Main Result Table

Download the spreadsheet as is as excel file, put it inside ```data/```<br>
Run the below cells

In [1]:
import pandas as pd

path = 'data/'

sheet_dict = {'boom_nlu':'Boomer NLU',
              'boom_nlg':'Boomer NLG',
              'ft_nlu':'FT NLU Result',
              'ft_nlg':'FT NLG Result',
              'cls_nlg':'Classic NLG Result',
              'zs_nlu':'ZS NLU Result',
              'zs_nlg':'ZS NLG Result',}

## NLU Results

In [2]:
df_list = []

In [3]:
sheet_name = sheet_dict['boom_nlu']
metric = 'macro-F1'

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',
                      sheet_name=sheet_name)
df = df[df['Task']!='author']

df_grouped = df.groupby(['Dataset', 'Model', 'Task'])[metric].mean().reset_index()

df_nusa_alinea = df_grouped[df_grouped['Dataset'] == 'nusa_alinea'].drop('Dataset', axis=1)
df_nusa_kalimat = df_grouped[df_grouped['Dataset'] == 'nusa_kalimat'].drop('Dataset', axis=1)

pivot_df_nusa_alinea = df_nusa_alinea.pivot(index='Model', columns='Task', values=metric)
pivot_df_nusa_alinea = pivot_df_nusa_alinea.rename_axis(None)
pivot_df_nusa_alinea.columns.name = 'Model'

pivot_df_nusa_kalimat = df_nusa_kalimat.pivot(index='Model', columns='Task', values=metric)
pivot_df_nusa_kalimat = pivot_df_nusa_kalimat.rename_axis(None)
pivot_df_nusa_kalimat.columns.name = 'Model'

df_result = pd.concat([pivot_df_nusa_alinea,pivot_df_nusa_kalimat],axis=1,keys=['nusa_alinea','nusa_kalimat']).sort_index(axis=1)
df_list.append(df_result)
df_result

                    nusa_alinea                     nusa_kalimat
Model                      emot paragraph     topic         emot     senti
Logistic Regression    0.782311  0.452130  0.876690     0.561770  0.749583
Naive Bayes            0.755076  0.377260  0.850590     0.527047  0.748863
SVM                    0.763579  0.454416  0.858606     0.550790  0.760371

In [4]:
sheet_name = sheet_dict['ft_nlu']
metric = 'macro_f1'

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',
                      sheet_name=sheet_name)
df = df[df['task']!='author']

df_grouped = df.groupby(['dataset', 'model', 'task'])[metric].mean().reset_index()

df_nusa_alinea = df_grouped[df_grouped['dataset'] == 'nusa_alinea'].drop('dataset', axis=1)
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)

pivot_df_nusa_alinea = df_nusa_alinea.pivot(index='model', columns='task', values=metric)
pivot_df_nusa_alinea = pivot_df_nusa_alinea.rename_axis(None)
pivot_df_nusa_alinea.columns.name = 'model'

pivot_df_nusa_kalimat = df_nusa_kalimat.pivot(index='model', columns='task', values=metric)
pivot_df_nusa_kalimat = pivot_df_nusa_kalimat.rename_axis(None)
pivot_df_nusa_kalimat.columns.name = 'model'

df_result = pd.concat([pivot_df_nusa_alinea,pivot_df_nusa_kalimat],axis=1,keys=['nusa_alinea','nusa_kalimat']).sort_index(axis=1)
df_list.append(df_result)
df_result

                                nusa_alinea                     nusa_kalimat  \
model                                  emot paragraph     topic         emot
bert-base-multilingual-uncased     0.631508  0.500056  0.738157     0.441313
indobenchmark-indobert-base-p1     0.671190  0.479226  0.858678     0.544973
indobenchmark-indobert-large-p1    0.626457  0.317544  0.854076     0.577965
indolem-indobert-base-uncased      0.669356  0.519337  0.848660     0.525903
xlm-roberta-base                   0.591450  0.491667  0.716806     0.470202
xlm-roberta-large                  0.674246  0.515706  0.830519     0.548372


model                               senti
bert-base-multilingual-uncased   0.687160
indobenchmark-indobert-base-p1   0.752390
indobenchmark-indobert-large-p1  0.773980
indolem-indobert-base-uncased    0.690785
xlm-roberta-base                 0.686198
xlm-roberta-large                0.790622

In [5]:
sheet_name = sheet_dict['zs_nlu']
metric = 'macro_f1'

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',header=[0,1],
                      sheet_name=sheet_name)

df_performance = df['mean'][metric]
df=df[['dataset', 'task', 'model', 'lang']]
df.columns = df.columns.droplevel(1)
df = df.merge(df_performance, left_index=True, right_index=True)

df_grouped = df.groupby(['dataset', 'model', 'task'])[metric].mean().reset_index()

df_nusa_alinea = df_grouped[df_grouped['dataset'] == 'nusa_alinea'].drop('dataset', axis=1)
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)

pivot_df_nusa_alinea = df_nusa_alinea.pivot(index='model', columns='task', values=metric)
pivot_df_nusa_alinea = pivot_df_nusa_alinea.rename_axis(None)
pivot_df_nusa_alinea.columns.name = 'model'

pivot_df_nusa_kalimat = df_nusa_kalimat.pivot(index='model', columns='task', values=metric)
pivot_df_nusa_kalimat = pivot_df_nusa_kalimat.rename_axis(None)
pivot_df_nusa_kalimat.columns.name = 'model'

df_result = pd.concat([pivot_df_nusa_alinea,pivot_df_nusa_kalimat],axis=1,keys=['nusa_alinea','nusa_kalimat']).sort_index(axis=1)
df_list.append(df_result)
df_result

            nusa_alinea                     nusa_kalimat
model              emot paragraph     topic         emot     senti
bloomz-1b1     0.117188  0.127574  0.052770     0.136376  0.606428
bloomz-1b7     0.085580  0.099193  0.127286     0.117709  0.650982
bloomz-560m    0.065747  0.116031  0.049759     0.142726  0.462248
mt0-base       0.137566  0.076966  0.353547     0.235553  0.277031
mt0-large      0.121845  0.074962  0.310020     0.219072  0.352473
mt0-small      0.093527  0.086085  0.320409     0.153334  0.319222

In [6]:
df_nlu = pd.concat(df_list)
df_nlu.to_csv('data/nluresults.csv')
df_nlu

                                nusa_alinea                     nusa_kalimat  \
                                       emot paragraph     topic         emot
Logistic Regression                0.782311  0.452130  0.876690     0.561770
Naive Bayes                        0.755076  0.377260  0.850590     0.527047
SVM                                0.763579  0.454416  0.858606     0.550790
bert-base-multilingual-uncased     0.631508  0.500056  0.738157     0.441313
indobenchmark-indobert-base-p1     0.671190  0.479226  0.858678     0.544973
indobenchmark-indobert-large-p1    0.626457  0.317544  0.854076     0.577965
indolem-indobert-base-uncased      0.669356  0.519337  0.848660     0.525903
xlm-roberta-base                   0.591450  0.491667  0.716806     0.470202
xlm-roberta-large                  0.674246  0.515706  0.830519     0.548372
bloomz-1b1                         0.117188  0.127574  0.052770     0.136376
bloomz-1b7                         0.085580  0.099193  0.127286     0.117709
bloomz-560m                        0.065747  0.116031  0.049759     0.142726
mt0-base                           0.137566  0.076966  0.353547     0.235553
mt0-large                          0.121845  0.074962  0.310020     0.219072
mt0-small                          0.093527  0.086085  0.320409     0.153334


                                    senti
Logistic Regression              0.749583
Naive Bayes                      0.748863
SVM                              0.760371
bert-base-multilingual-uncased   0.687160
indobenchmark-indobert-base-p1   0.752390
indobenchmark-indobert-large-p1  0.773980
indolem-indobert-base-uncased    0.690785
xlm-roberta-base                 0.686198
xlm-roberta-large                0.790622
bloomz-1b1                       0.606428
bloomz-1b7                       0.650982
bloomz-560m                      0.462248
mt0-base                         0.277031
mt0-large                        0.352473
mt0-small                        0.319222

## NLG Results

In [7]:
df_list = []

In [8]:
sheet_name = sheet_dict['boom_nlg']
metric = 'bleu'

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',
                      sheet_name=sheet_name)
df.drop('ROUGEL', axis=1, inplace=True)

df_grouped = df.groupby(['dataset', 'model']).mean().reset_index()
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)
df_list.append(df_nusa_kalimat)
df_nusa_kalimat.head()

   model  SacreBLEU  ChrF++
0  PBSMT  18.391702     NaN

In [9]:
sheet_name = sheet_dict['ft_nlg']

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',
                      sheet_name=sheet_name)
df.drop('rougel', axis=1, inplace=True)
df = df.rename(columns={'bleu':'SacreBLEU', 'chrf':'ChrF++'})

df_grouped = df.groupby(['dataset', 'model']).mean().reset_index()
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)
df_list.append(df_nusa_kalimat)
df_nusa_kalimat.head()

            model  SacreBLEU     ChrF++
0  baseline-mbart  23.399874  40.322922
1    baseline-mt5  26.158898  46.836028
2       indo-bart  30.877590  51.093029
3       indo-gpt2  27.359663  49.247835

In [10]:
sheet_name = sheet_dict['cls_nlg']

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',
                      sheet_name=sheet_name)

df_grouped = df.groupby(['dataset', 'model']).mean().reset_index()
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)
df_list.append(df_nusa_kalimat)
df_nusa_kalimat.head()

               model  SacreBLEU     ChrF++
0               copy  23.489091  41.903636
1              pbsmt        NaN        NaN
2  word-substitution  23.802727  42.678182

In [11]:
sheet_name = sheet_dict['zs_nlg']

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',header=[0,1],
                      sheet_name=sheet_name)

df_performance = df['mean']
df=df[['dataset', 'task', 'model', 'src_lang', 'tgt_lang']]
df.columns = df.columns.droplevel(1)
df = df.merge(df_performance, left_index=True, right_index=True)
df.drop('ROUGEL', axis=1, inplace=True)

df_grouped = df.groupby(['dataset', 'model']).mean().reset_index()
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)
df_list.append(df_nusa_kalimat)
df_nusa_kalimat.head()

         model  SacreBLEU     ChrF++
0   bloomz-1b1   3.111779  18.341895
1   bloomz-1b7   5.811078  22.402549
2  bloomz-560m   4.399344  20.269917
3     mt0-base   3.231223  24.608013
4    mt0-large   2.625931  23.138477

In [12]:
pd.concat(df_list).reset_index(drop=True).to_csv('data/nlgresults.csv', index=False)